.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 2rem;
    text-align: center;
  }
  